html, body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-header {
  position: absolute;
  bottom: 0;
  right: 5em;
  text-transform: lowercase;
}

.svg {
  text-align: center;
}
