html, body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

html,body{height:100%;}
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
}

.carousel {
  position: absolute;
  z-index: 1;
}

.carousel-control.left {
    z-index: 6;
}  
.carousel-control.right {
    z-index: 6;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.page-header {
  position: absolute;
  bottom: 0;
  right: 5em;
  text-transform: lowercase;
}

.header-icon {
  width: 150px;
  height: auto;
}

.svg {
  text-align: center;
  text-decoration: none !important;
}

.sidebar {
  top: 55px;
  display: table;
  position: absolute;
  z-index: 7;
}


.sidebar-left {
  display: inline;

}

.sidebar-left:after {
  content: "\A\A";

  white-space: pre;
}

.sitemap {
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: inline;
}


/* Property to prevent basic image saving */
img {
   pointer-events: none;
 }

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
